body {
	background-color: lightblue;
}

#carousel {
	width: 400px;
	height: 300px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20vh;
	overflow: hidden;

}

#carousel ul {
	margin: 0;
	padding: 0;
	width: 2000px;

}

#carousel ul li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	
}

img {
	height: 300px;
	width: 400px;
}